<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">GREEN KING IPA</h3>
          
        </div>
       
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">Add Product</h3> </div>
            </div>
            <div class="m-portlet__head-tools">
               
        </div>
        <div class="m-portlet__body">
        </div>    