<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h5 class="m-subheader__title m-subheader__title--separator">Subscribers</h5>				
      </div>
    </div>
  </div>
  
  <!-- END: Subheader -->
  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h5 class="m-portlet__head-text">Manage Subscriber</h5> 
          </div>
        </div>			  
      </div>
  
      <div class="m-portlet__body">
        <div class="alert alert-{{flag}}" role="alert" *ngIf="message">{{message}}</div>
        <ng-template #alertProduct></ng-template>
        <!--begin: Datatable -->
        <table class="">
          <thead>
            <tr>
              <th>Subscriber Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subscriber of subscriberData;">
              <td>
                {{subscriber.subscribe_email}}
              </td>
              <td>
                <a (click)="changeStatus( subscriber.id)" class="btn btn-primary">
                  {{subscriber.status == '1' ? 'Active' : 'In-active'}}
                </a>
              </td> 
            </tr>
          </tbody>
        </table>				
      </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
  
    <!--Pagination -->
    <app-pagination *ngIf="totalItems" [pagination_limit]="pagination_limit" [totalItems]="totalItems" [currentPage]="currentPage" (childEvent)="listProducts ($event)"></app-pagination>
  </div>