<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h5 class="m-subheader__title m-subheader__title--separator">PRODUCTS</h5>
		</div>
	</div>
</div>

<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h5 class="m-portlet__head-text">Manage Products</h5>
				</div>
			</div>
		</div>

		<div class="m-portlet__body">
			<ng-template #alertProduct></ng-template>
			<!--begin: Datatable -->
			<table class="">
				<thead>
					<tr>
						<th>Organisation Name</th>
						<th>Author</th>
						<th>Role</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let testimonial of testimonialData;">
						<td>
							{{testimonial.organisation_name}}
						</td>
						<td>
							{{testimonial.author}}
						</td>
						<td>
							{{testimonial.role}}
						</td>
						<td>
							{{testimonial.status == '1' ? 'Active' : 'In-active'}}
						</td>
						<td>
							<a [routerLink]="['/brewery/edit-testimonial/',(testimonial?.id)]"
								class="btn btn-primary btn-sm">Update</a>
							<a (click)="deleteTestimonial(testimonial?.id)" class="btn btn-primary btn-sm">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- END EXAMPLE TABLE PORTLET-->

	<!--Pagination -->
	<app-pagination *ngIf="totalItems" [pagination_limit]="pagination_limit" [totalItems]="totalItems"
		[currentPage]="currentPage" (childEvent)="listProducts ($event)"></app-pagination>
</div>