<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <!--begin::Portlet-->
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Manage Why Choose</h3>
            </div>
          </div>
        </div>
        <form class="m-login__form m-form" [formGroup]="whychooseForm" (ngSubmit)="onSubmit()" method="post">
          <div class="m-portlet__body">

            <div class="m-section__sub font-weight-bold pt-4">Why Choose Heading: </div>
            <input type="text" formControlName="why_choose_heading" class="input_type" required />

            <div class="m-section__sub font-weight-bold pt-4">Why Choose Short Description: </div>
            <textarea id="my-summernote-short" formControlName="why_choose_short_description"
              placeholder="Compose an epic..."></textarea>

            <div class="m-section__sub font-weight-bold pt-4">Why Choose Long Description: </div>
            <textarea id="my-summernote-long" formControlName="why_choose_long_description"
              placeholder="Compose an epic..."></textarea>

            <ng-template #alertImage></ng-template>
            <div class="m-portlet__head-title">
              <h6 class="font-weight-bold  pt-4 mt-4">Why Choose Image</h6>
              <div class="row  pt-2">
                <div class="col-md-2" *ngIf="whychooseLogo">
                  <img [src]="whychooseLogo" height="80px" width="80px">
                </div>
                <div class="col-md-10 align-left pt-2">
                  <div class="media-body margin_image">
                    <div class="text-capitalize mt-4">Upload New Image</div>
                    <label class="btn-bs-file btn btn-warning mt-2">
                      Upload
                      <input type="file" (change)="uploadwhychooseImg ($event)" />
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div style="color: crimson;">
              <div>Why Choose Image 40 * 40 px</div>
            </div>


          </div>
          <div class="m-portlet__body  border border-top-2">
            <div class="m-section__content">
              <!-- -->
              <button type="submit" [disabled]="!whychooseForm.valid" class="btn ml-4 btn-light border">Save</button>
              <!-- <button pButton type="button" class="btn ml-4 btn-light border">Cancel</button> -->
            </div>
          </div>
        </form>
      </div>
      <!--end::Portlet-->

      <div class="alert alert-{{flag}}" role="alert" *ngIf="message">
        {{message}}
      </div>

    </div>
  </div>
</div>