<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <!--begin::Portlet-->
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Manage About Third Section CMS</h3>
            </div>
          </div>
        </div>
        <form class="m-login__form m-form" [formGroup]="aboutForm" (ngSubmit)="onSubmit(aboutForm.value)" method="post">

          <div class="m-portlet__body">


            <div class="m-section__sub font-weight-bold pt-4">About Third Section Title: </div>
            <input 
            type="text" 
            class="input_type" 
            required 
            formControlName="heading"
            [(ngModel)]="model.heading" 
            >
            <!-- formControlName -->
            <div class="m-section__sub font-weight-bold pt-4">About Third Section Count: </div>
            <input 
            type="text" 
            class="input_type" 
            required 
            formControlName="count"
            [(ngModel)]="model.count"
            >
            <input type="hidden" formControlName="id" [(ngModel)]="model.id"/>
            <!-- upload image -->
            <ng-template #alertImage></ng-template>
            <div class="m-portlet__head-title">
              <h6 class="font-weight-bold  pt-4 mt-4">About Third Section Image</h6>
              <div class="row  pt-2">
                <div class="col-md-2" *ngIf="blogLogo">
                  <img [src]="blogLogo" height="80px" width="80px">
                </div>
                <div class="col-md-10 align-left pt-2">
                  <div class="media-body margin_image">
                    <div class="text-capitalize mt-4">Upload New Image</div>
                    <label class="btn-bs-file btn btn-warning mt-2">
                      Upload
                      <input type="file" (change)="uploadImg ($event)" />
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div style="color: crimson;">
              <div>Process Image 30 * 48 px</div>
            </div>

            
            
          </div>
          <div class="m-portlet__body  border border-top-2">
            <div class="m-section__content">
              <button [disabled]="!aboutForm.valid" type="submit"
                class="btn ml-4 btn-light border">{{conButton}}</button>
              <button pButton type="button" class="btn ml-4 btn-light border">Cancel</button>
            </div>
          </div>
        </form>
      </div>
      <!--end::Portlet-->

      <div class="alert alert-{{flag}}" role="alert" *ngIf="message">
        {{message}}
      </div>
    </div>




  </div>
</div>