<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				PASSWORD
			</h3>		
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="col-lg-12">
		<!--begin::Portlet-->
		<div class="m-portlet">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							CHANGE PASSWORD
						</h3>
					</div>
				</div>
			</div>
			<div class="m-portlet__body">
				<form (ngSubmit)="f.form.valid && submitPasswordUpdate()" #f="ngForm" class="m-profile__form m-form" action="">
					<ng-template #alertUpdatePassword></ng-template>
					<!--begin::Section-->
					<div class="m-section">
						<div class="m-section__content">

							<div class="m-section__sub font-weight-bold pt-4">Old Password:: </div>
							<input class="fname input_type" [(ngModel)]="model.oldpassword" name="oldpassword" #oldpassword="ngModel" autocomplete="off" maxlength="20" type="password" />

							<div class="m-section__sub font-weight-bold pt-4">New Password: </div>
							<input class="fname input_type" [(ngModel)]="model.password" name="password" #password="ngModel" autocomplete="off" maxlength="20" type="password" />

							<div class="m-section__sub font-weight-bold pt-4">Confirm New Password: </div>
							<input class="fname input_type" [(ngModel)]="model.confPassword" name="confPassword" #confPassword="ngModel" autocomplete="off" maxlength="20" type="password" />
						</div>
					</div>
					<!--end::Section-->
					
					
				</form>
			</div>
			<div class="m-portlet__body  border border-top-2"> 
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
						<h6 class="font-weight-light"><span class="text-danger">*</span>indicates required</h6>
						</div>
						
					</div>
				<div class="m-section__content"> 
						<button [disabled]="loading" id="m_profile_update_submit" type="button" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" class="ui-button-warning btn btn-warning border">Save</button>
				<button type="button" class="btn ml-4  ui-button-light border btn-light">Cancel</button>
				</div> 
		
							
		
			 </div>
		</div>			
	</div>
</div>
