<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">ORDERS</h3>
        </div>
    </div>
</div>

<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h5 class="m-portlet__head-text">Manage Orders </h5>
                </div>
            </div>
        </div>

        <div class="m-portlet__body">
            <!--begin: Datatable -->

            <form #f="ngForm" class="m-profile__form m-form" action="" (ngSubmit)="getOrdersbyDate(f)">
                <div class="form-group col-sm-6">
                    <label for="exampleInputEmail1">Form Date</label>
                    <input type="date" name="from_date" class="form-control" required="required" #from_date="ngModel"
                        [(ngModel)]="model.from_date">
                </div>
                <!-- <div class="text-danger" *ngIf="(orderForm.submitted && fromRef.errors) || (fromRef.invalid && fromRef.touched)">Please Enter Receptionist</div> -->

                <div class="form-group col-sm-6">
                    <label for="exampleInputPassword1">To Date</label>
                    <input type="date" name="to_date" class="form-control" required="required"
                        [(ngModel)]="model.to_date" #to_date="ngModel">
                </div>
                <!-- <div class="text-danger" *ngIf="(orderForm.submitted && toRef.errors) || (toRef.invalid && toRef.touched)">Please Enter Receptionist</div> -->

                <button type="submit" class="btn btn-primary">filter</button>
            </form>
            <ng-template [ngIf]="isfetched==1">
                <div class="clearfix"></div>
                <table class="">
                    <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Order Date</th>
                            <th>Order Fulfilled</th>
                            <th>Total</th>
                            <th>Shipping Type</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngIf="breweryOrder.length ==0">
                            <td align="center"> NO Data Found</td>
                        </tr>


                        <tr *ngFor="let order of breweryOrder">
                            <td class="text-uppercase">{{ getOrderUUID (order?.orderUUID) }}</td>
                            <td>{{ order?.created_at * 1000 | date:'M/d/yy' }}</td>
                            <td>{{ (order?.status === 'unfulfilled') ? '-' : (order?.updated_at * 1000) | date:'M/d/yy' }}
                            </td>
                            <td>{{ order?.payment?.amount | currency:'GBP' }}</td>
                            <td class="text-capitalize">{{ fetchShippingType (order?.shippingCharge) }}</td>
                            <td [ngClass]="order?.status === 'unfulfilled' ? 'text-warning' : 'text-success'"
                                class="text-capitalize">{{ order?.status }}</td>
                            <td>
                                <div class="dropdown">
                                    <i class="fa dropbtn p-3 cursor-pointer">&#xf142;</i>
                                    <ul class="dropdown-content list-group list-group-flush">
                                        <li class="list-group-item cursor-pointer text-secondary"
                                            routerLink="/orders/{{ order?.orderUUID }}"><i style='font-size:12px'
                                                class='fas'>&#xf06e;</i> View Order</li>
                                        <li class="list-group-item cursor-pointer text-secondary"><i
                                                style='font-size:12px' class='fas'>&#xf02f;</i> Print Order</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </ng-template>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->

    <!--Pagination -->
    <app-pagination *ngIf="totalItems" [pagination_limit]="pagination_limit" [totalItems]="totalItems"
        [currentPage]="currentPage" (childEvent)="getBreweryOrders ($event)"></app-pagination>
</div>