/* You can add global styles to this file, and also import other style files */
 
.m-checkbox.m-checkbox--focus>input:checked~span {
    border: 1px solid #c2c2c2 !important; 
}
.m-checkbox.m-checkbox--focus>span:after {
    border: solid #ffb822;
}
::placeholder{
    color:#c2c2c2 !important;
}
.btn-outline-focus.focus, .btn-outline-focus:focus, .btn-outline-focus:hover {
    border-color: #ffb622;
    background: #ffb622;
    color: rgb(53, 52, 52);
}
.img_logo{
    position: absolute !important;
    margin-left: 7px !important;
    width: 169px !important;
}
.m-link {
    color: #ffb622 !important;
}
.text-faint{
    color:#aeb3c5 !important;
}
.font-weight-bold{
    font-weight: 600 !important;
    font-size:14px !important;
}
.grnd_total{
    color:#bbbbbb !important;
    font-size:14px !important;
    font-weight: bold !important;
    margin-left: 21px !important;
}

.pt-2.in_prog {
    padding-top: 14PX!important;
}
.btn-accent {
    color: #000 !important;
    background-color: #FFD700 !important;
    border-color: #FFD700 !important;
}
.m-tabs-line.m-tabs-line--primary a.m-tabs__link.active, .m-tabs-line.m-tabs-line--primary a.m-tabs__link:hover, .m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link.active, .m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link:hover {
    color: #FFD700 !important;
    border-bottom: 1px solid #FFD700 !important;
}
.m-nav .m-nav__section .m-nav__section-text {
    color: #FFD700 !important;
}
.btn.m-btn--air.btn-default.focus, .btn.m-btn--air.btn-default:focus, .btn.m-btn--air.btn-default:hover:not(:disabled):not(.active), .btn.m-btn--air.btn-secondary.focus, .btn.m-btn--air.btn-secondary:focus, .btn.m-btn--air.btn-secondary:hover:not(:disabled):not(.active) {
    -webkit-box-shadow: 0 3px 20px 0 rgba(113,106,202,.26)!important;
    box-shadow: 0 3px 20px 0 rgba(113,106,202,.26)!important;
    background: #FFD700 !important;
    color: #fff !important;
    border-color: #FFD700 !important;
}
.ui-chips > ul.ui-inputtext {
    clear: left;
    /* cursor: text; */
    list-style-type: none;
    /* margin: 0; */
    /* overflow: hidden; */
     padding: 6px !important; 
    width: 50% !important;
}
.ui-chips > ul.ui-inputtext.cvv {
    clear: left;
    /* cursor: text; */
    list-style-type: none;
    /* margin: 0; */
    /* overflow: hidden; */
     padding: 6px !important; 
    width: 20% !important;
}
.cvv {
    clear: left;
    /* cursor: text; */
    list-style-type: none;
    /* margin: 0; */
    /* overflow: hidden; */
     padding: 6px !important; 
    width: 10% !important;
}
.m-login.m-login--1 .m-login__wrapper {
    overflow: hidden;
    padding: 0 0 0 0 !important;
}
.form-padding{
    padding-left: 16px !important;
    font-size: 10px !important;
    color: #c7c4cf !important;

    
}
.m-login__title{
    padding-top: 16px !important;
    padding-left: 20px !important;
}
.for_pswrd{
    padding-top: 16px !important;
    padding-left: 20px !important;
    color: #c3c1c9 !important;
    font-size:9px !important;
   
}
.btn.m-btn--custom{
margin-left: 17px !important;
}
.form-control {
    display: block;
    width: 93% !important;
    padding: .85rem 1.15rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #f8f8f8 !important;
    background-clip: padding-box;
    border: 0px solid #ced4da !important;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.m-login.m-login--1 .m-login__account {
    text-align: center;
    margin-top: 40px !important;
    margin-right: 12px !important;
}
.m-checkbox {
   
    margin-left: 19px !important;
}
.bg_img{
    background-image: url(./assets/app/media/img//bg/side-img.png) !important;background-repeat: no-repeat !important;
		background-position: right !important;
		background-size: 64% 100% !important;
}
.p_tag{
    color: #b2b2b2 !important;
    font-size:8px !important;
    font-weight:500 !important;
    margin-top: 12px !important;
    text-align: left !important;
}
.address{
    width: 98% !important;
}
#nav-tab a, .m-login__signup.animated.flipInX, .nav-tabs {
    border: none !important;
}
.m-login__signup.animated.flipInX a.nav-link {    position: relative; text-align:center;
}
.m-login__signup.animated.flipInX a.nav-link.active {    color: #ffb822!important;
}
.m-login__signup.animated.flipInX a.nav-link:before {  position: absolute;  content: "";  width: 30px;  height: 2px;  background-color: #ccc;   left: -26px;  top: 50%;
    transform: translate(-50%); -webkit-transform: translate(-50%);
}
.m-login__signup.animated.flipInX a.nav-link:first-child:before { display: none; 
}
.tab-pane { height: 0;
}
.tab-pane.active.show { height: auto;
}
.m-login__signup.animated.flipInX a.nav-link {
    width: 80px !important;
    -webkit-box-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
    margin: 0px 28px;
    text-align: center;
}


@media(min-width:1400px){
    .bg_img {
        background-size: 71% 100% !important;
    }
}

.m-login.m-login--1 .m-login__wrapper .m-login__head .m-login__title{
    text-align: left !important;
}
.top_link a.nav-link {    position: relative; text-align:center;font-weight: bold;font-size:10px;
}
.top_link a.nav-link.active {    color: #ffb822!important;
}
.top_link a.nav-link:before {  position: absolute;  content: "";  width: 30px;  height: 2px;  background-color: #ccc;  left: -20px;
    top: 46%;
    transform: translate(-50%); -webkit-transform: translate(-50%);
}
.top_link a.nav-link:first-child:before { display: none; 
}
.top_link a.nav-link {
    width: 80px !important;
    -webkit-box-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
    margin: 0px 28px;
    text-align: center;
}
.image_src{
    margin-left: 410px;
    float: right !important;
    margin-bottom: 500px;
    margin-right: 11px;
}
/* #nav-tab a, .top_link, .nav-tabs {
    border: none !important;
} */
.m-login.m-login--1 .m-login__account.account-yet{
    
    margin-top: 10px !important;
    margin-left: -21px !important;
}
.account-yet{
    font-size: 8px !important;
}
.sign_up{
font-size:9px !important;
}
.btn.m-btn--custom.return_brew{
    background: #de7c00 !important;
    color:#fff !important;

}
.col_divider{
    padding-left: 47px !important;
    padding-top: 6px;

}
.input_typee{
    width: 55px !important;
    height: 28px !important;
    padding-left: 8px !important;
}
.input_type{
    width: 56% !important;
    height: 34px !important;
    padding-left: 8px !important;
}
.img_respnve{
    padding: 21px 4px 0 20px !important;
    display: inline-block !important;
  
}
.text_block{
    display: inline-block !important;
    position: relative;
    padding-left: 56px !important;
    padding-top: 15px !important;
    font-size: 10px !important;
   
}

.text_block:before {
    background: url(./assets/app/media/img/logos/ikon_img.png);
    content: "";
    width: 45px;
    height: 48px;
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    top: 10px !important;
}
.order_disptch{
    width: 100% !important;
    padding:18px 0 0 0  !important;
}
.product_list{
    color:#949fbe;
    width: 100% !important;
    padding:11px 5px 4px 51px  !important;
    font-size:9px !important;
    font-weight:bold !important;
}
.quant_list{
    width: 100%;
    padding: 23px 0 8px 42px;
}
.p_list{
    display: inline-block;
    color: #fec838 !important;
    font-size: 9px !important;
    font-weight: bold !important
}
.value_list{
    color: #bdbcc7 !important;
    font-size:7px !important;
    font-weight:bold !important;
    padding: 14px 0 0 20px !important;
}
.border_line{
    border:1px solid #c2c2c2 !important;
    width: 90%;
    margin: 0 auto;
    padding: 3px 0 0 0;
    margin-top: 21px;
}
.p_total{
    padding-right: 48px !important;
    color: #bdbcc7 !important;
    font-size: 11px !important;
    font-weight: bold !important;
}
span.total_price{
    font-size: 14px !important;
    font-weight: bold !important;
    color:#949fbe !important;
    padding: 0 3px 3px 6px !important;
}
.ui-button-secondary{
    margin-left: 45px;
}

.pad_top{
    position: absolute !important;
    margin: -18px 0 0 0 !important;
    //top: 365px !important; 
    z-index: 9 !important;
   // background-color: #fff !important;
    padding-left: 15px;
}
.name_mile{
    background-color: #fff !important;
    display: inline-block !important;
    color: #000 !important;
    font-size: 9px !important;
    font-weight:bold !important;
}
.img_logoo{
    width:14% !important;
    background-color: #fff !important;
}
.btn-warning {
    color: #212529;
    background-color: #ffb822 !important;}

    .w-50 {
        width: 56%!important;
    }   
    .margn_top{
        margin-top: -45px!important;
    }
    .ui-button-warning{
        color: #212529;
        background-color: #ffb822 !important; 
    }

    .alert.m-alert--outline.alert-danger {
        color: #575962;
        background-color: #fff;
        border-color: #f4516c;
        color: #f4516c;
        font-weight: 400;
        width: 82% !important;
        margin: 0 auto !important;
    }
    .m-form .form-control-feedback {
        margin-top: .2rem;
        font-size: .85rem;
        color: #f4516c !important;
    }
    th{
        color:#a4afc7 !important;
        font-size:9px !important;
        font-weight: bold !important;
        
    }
    td{
        color: #9796a1!important;
        font-size:12px !important;
        font-weight: bold !important;
        
        padding: 10px 0 10px 12px !important;
    }
    table {
        border-collapse: collapse;
        width: 100% !important;
    }
    .table_email{
        border: 0;
        width: 57% !important;
    }
    .th_bg{
        background: #ffd800 !important;
        color:#817d67 !important;
       
        border: 0;
        
    }
    .tr_edit_brew{
        font-size:14px !important;
        padding: 7px 12px !important;
        font-weight: 900 !important;
    }
    .td_edit_brew{
        background: #eeeef2 !important;
        font-size:11px !important;
        font-weight:600 !important;
    }
    .td_add_row{
        background: #e9e9e9 !important;
       
    }
    .text_area{
        width: 56% !important;
    height: 120px !important;
    padding: 3px 2px 4px 8px !important;
    text-align: left !important;
    }

    .m-subheader .m-subheader__title {
      
        font-size: 31px!important;
        font-weight: bold !important;
        font-family: monospace !important;        
    }

    /* Demo */

    .input-container {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        width: 100%;
        margin-bottom: 15px;
    }
    
    .icon {
        padding: 10px;
        background: #f2f2f2;
        //color: white;
        min-width: 50px;
        text-align: center;
    }
    
    .input-field {
        width: 51.5% !important;
        padding: 10px;
        outline: none;
    }
    .btn-bs-file{
        position:relative;
    }
    .btn-bs-file input[type="file"]{
        position: absolute;
        top: -9999999;
        filter: alpha(opacity=0);
        opacity: 0;
        width:0;
        height:0;
        outline: none;
        cursor: inherit;
    }
    .img_src{
        padding: 19px 5px 4px 37px !important;
        width: 68% !important;
    
    }
    .site_unpub{
        font-size: 14px !important;
        color: #000 !important;
        padding: 11px 7px 11px 20px !important;
        width: 20% !important;
    }
    .pub_btn{
        background: #373737 !important;
        color: #fff !important;
        font-size: 12px !important;
        padding: 7px 8px 6px 11px !important;
        border-radius: 3px !important;
        border: 0 !important;
        float: right !important;
        margin-right: 22px !important;
    }
    .site_row{
        background: yellow;
        /* padding: 22px 6px 9px 13px !important; */
        width: 96% !important;
        margin: 0 auto !important;
        margin-top: 20px !important;
        height: 149px !important;
        /* padding-top: 52px !important; */
    }
    .web_chk.m-checkbox {
        margin-left: 0px !important;
    }
    .btn_view{
        border-radius: 38px !important;
        height: 35px !important;
        background: #ffd800 !important;
        color: #fff !important;
    }
    .img_td{
        width: 45% !important;
    }
    .invoice_border_line{
        width: 100% !important;
    }
    .td_price{
        text-align: left !important;
    }
    .invoice_list{
        display: inline-block;
     
       font-weight: bold !important;
    }
    .margin_image{
        margin-left: 98px !important;
    }

    .m-tabs-line a.m-tabs__link, .m-tabs-line.nav.nav-tabs .nav-link {
        background: #fff !important;
        color: #7b7e8a !important;
        text-align: center !important;
        margin: 0px -34px 0 0 !important;
        padding: 11px 18px 7px 10px !important;
    }
    .m-tabs-line a.m-tabs__link.active, .m-tabs-line a.m-tabs__link:hover, .m-tabs-line.nav.nav-tabs .nav-link.active, .m-tabs-line.nav.nav-tabs .nav-link:hover {
        background: yellow !important;
        color: #3f4047 !important;
        /* border-bottom: 1px solid #3f4047; */
    }
    .nav.nav-pills, .nav.nav-tabs {
        margin-bottom: 2px !important;
    }
    .m-tabs-line a.m-tabs__link.active, .m-tabs-line a.m-tabs__link:hover, .m-tabs-line.nav.nav-tabs .nav-link.active, .m-tabs-line.nav.nav-tabs .nav-link:hover {
       
        border-bottom: 0 !important; 
    }
    .pub_post{
        font-weight: bold !important;
        font-size:17px !important;
        padding: 8px 0 0 0 !important;
    }






    /* Text Edit CSS */

    .note-placeholder {
        position: absolute;
        top: 20%;
        left: 5%;
        font-size: 2rem;
        color: #e4e5e7;
        pointer-events: none;
      }
      
      /*Toolbar panel*/
      
      .note-editor .note-toolbar {
        background: #f0f0f1;
        border-bottom: 1px solid #c2cad8;
        -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      }
      
      /*Buttons from toolbar*/
      
      .summernote .btn-group, .popover-content .btn-group {
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      
      .note-popover {
        background: #f0f0f1!important;
      }
      
      .summernote .btn, .note-btn {
        color: rgba(0, 0, 0, .54)!important;
        background-color: transparent!important;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      
      .summernote .dropdown-toggle:after {
        vertical-align: middle;
      }
      
      .note-editor.card {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 2px;
      }
      
      /* Border of the Summernote textarea */
      
      .note-editor.note-frame {
        border: 1px solid rgba(0, 0, 0, .14);
      }
      
      /* Padding of the text in textarea */
      
      .note-editor.note-frame .note-editing-area .note-editable {
        padding-top: 2rem;
      }


    /* Ends Here */

    .cursor-pointer {
        cursor: pointer;
    }
    .table_inv{
        margin:13px 0 0 -4px !important
    }